.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

}
.title{
    color: white;
    font-weight: bold;
    margin: 8px 0px;
    text-transform: uppercase;

}