.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
    

}

.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}


 

  /*
   padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    max-width: 350px;
    padding: 40px 40px;*/
.title{
    color: whi;
    font-size: 32px;
    font-weight: bold;
    margin: 8px 0px;
    text-transform: uppercase;

}
.form-group input,
.form-group label,
.form-group p,
.form-group Button {
    margin-bottom: 20px;
}

.form-group-p,
.form-group-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}




  

  
 